/*摄像头方向控制*/
.change_camera_direction{
    background-color: #e9ecee;
    text-align: center;
    position: absolute;
    top: 0%;
    width: 200px;
    height: 200px;
}
.change_camera_direction .camera_title{
    color: white;
    font-size: 15px;
    margin: 5% auto;
}
.direction_content{
    width: 100%;
    height: 70%;
    position: relative;
}
.direction_div{
    position:relative;
    width: 30px;
    height: 30px;
}
.direction_div img{
    width: 100%;
    height:  100%;
}
/*left*/
.left_direction {
    top: 5%;
    left: 20%;
}
/*bottom*/
.bottom_direction{
    top:-13%;
    left: 40%;
}
/*cengter*/
.center_direction{
    top:-16%;
    left: 40%;
}
/*right*/
.right_direction{
    top: -60%;
    left: 61%;
}
/*top*/
.top_direction{
    top: 2%;
    left: 40%;
}
button{
    background-color:rgba(255, 255, 255,0.1);
}