<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script type="text/javascript" src="/static/js/Agora/AgoraSig.js"></script>
    <script>
        const client=AgoraRTM.createInstance('8a9a81ca98f4430d84f18afb1227e47c');
        function msgInit() {
            client.on('ConnectionStateChanged', (newState, reason) => {
                console.log('on connection state changed to ' + newState + ' reason: ' + reason);
            });
            client.login({ token: null, uid: '12345' }).then(() => {
                console.log('AgoraRTM client login success');
            }).catch(err => {
                console.log('AgoraRTM client login failure', err);
            });
        }

        function sendMsg() {
            client.sendMessageToPeer({text: 'test peer message'}, '1234',)
                .then(sendResult => {
                    if (sendResult.hasPeerReceived) {
                        /* 远端用户收到消息的处理逻辑 */
                    } else {
                        /* 服务器已接收、但远端用户不可达的处理逻辑 */
                    }
                }).catch(error => {/* 发送失败的处理逻辑 */
            });
        }
    </script>
</head>
<body>
<input type="button" name="confirmAlter" value="init" onclick="msgInit()"/>
<input type="button" name="confirmAlter" value="send" onclick="msgInit()"/>
</body>
</html>